@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container1 {
    background-image: url("https://w0.peakpx.com/wallpaper/80/676/HD-wallpaper-30k-headphones-book-book-and-pen.jpg");
    background-size: cover;
    width: 400px;
    height: 700px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.abc {
    text-align: left;
    margin-top: 50px;
    padding-left: 2px;
}

.cd {
    margin-bottom: 30px;
    font-size: 50px;
}

.de {
    background-color: orange!important;
    font-size: 20px;
    padding-inline: 25px;
    padding-block: 3px;
    margin: 10px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
}